button.row-expansion-toggle,
button.row-expansion-toggle {
  --bs-btn-bg: var(--ts-dt-btn-bg, #ffffff);
  --bs-btn-color: var(--ts-dt-btn-color, #565656);
  --bs-btn-border-color: var(--ts-dt-btn-border-color, #e5e5e5);
  --bs-btn-hover-border-color: var(--ts-dt-btn-hover-border-color, #e5e5e5);
  --bs-btn-active-border-color: var(--ts-dt-btn-active-border-color, #e5e5e5);
  --bs-btn-hover-bg: var(--ts-dt-btn-hover-bg, #f5f5f5);
  --bs-btn-hover-color: var(--ts-dt-btn-hover-color, #565656);
  --bs-btn-active-bg: var(--ts-dt-btn-active-bg, #f5f5f5);
  --bs-btn-active-color: var(--ts-dt-btn-active-color, #565656);
  --bs-btn-padding-x: 4px;
  --bs-btn-padding-y: 4px;

  display: grid;
  place-content: center;
}

button.row-expansion-toggle svg {
  transition: transform 0.2s ease-out;
}

button.row-expansion-toggle svg.expanded {
  transform: rotate(45deg);
}
