.ts-dt-filter-menu-field-container {
  max-width: 500px;
  overflow-x: auto;
}

.ts-dt-filter-menu-filter-field {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 2fr max-content;
  gap: 14px;
  width: 100%;
  margin-block: 14px;
}
