.table-search-input {
  height: 32px;
  max-width: 224px;
  font-size: var(--ts-dt-font-size, 14px);
  font-family: var(--ts-dt-font-family, Inter, system-ui);
}

.table-search-input:focus {
  border-color: var(--ts-dt-input-focus-border-color, #a1a1a1);
  box-shadow: 0 0 0 3px var(--ts-dt-input-focus-box-shadow-color, #cfcfcf), 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
