.ts-dt {
  margin: 0;
}

.ts-dt .expanded-table-cell {
  padding: 0;
}

.ts-dt .expanded-table-cell .tbody .tr:last-child .td {
  border: none;
}

.ts-dt .thead {
  position: sticky;
  top: 0;
  z-index: 99;
}

/* .ts-dt .expanded-table-cell {} */

.ts-dt .th,
.ts-dt .td {
  vertical-align: middle;
  background-color: white;
}

.ts-dt th div {
  font-weight: 500;
}

.ts-dt .th div,
.ts-dt .td div {
  font-size: 14px;
}

.ts-dt .td:not(:last-child) div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
