:root {
  --ts-dt-hover: #f9f9f9;
  --ts-dt-background-light: #ffffff;
  --ts-dt-alt-hover: #f5f5f5;
  --ts-dt-stroke: 1px solid #e5e5e5;
  --ts-dt-radius: 6px;
  --ts-dt-icon-color-dark: #0a0a0a;
  --ts-dt-icon-color-light: #848484;
  --ts-dt-duration: 75ms;
  --ts-dt-padding-sm: 4px;
  --ts-dt-padding-md: 8px;
  --ts-dt-padding-lg: 12px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-size: 14px;
  font-family: system-ui;
}

/* .datatable {
  box-sizing: border-box;
}

.datatable .table {
  border-spacing: 0;
  border-collapse: separate;
}

.datatable .th,
.datatable .td {
  text-align: left;
  padding: var(--ts-dt-padding-md);
  background-color: var(--ts-dt-background-light);
  transition: background-color var(--ts-dt-duration) ease-in-out;
}

.datatable .table .tr:hover .th,
.datatable .table .tr:hover .td {
  background-color: var(--ts-dt-hover);
}

.datatable .th {
  font-weight: 500;
}

.datatable .td:not(:first-child) {
  padding: var(--ts-dt-padding-md) calc(var(--ts-dt-padding-md) + 5px);
}

.datatable .tr:not(:last-child) .td,
.datatable .tr .th {
  border-bottom: var(--ts-dt-stroke);
} */
